* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333333;
}

body {
    font-family: "Montserrat";
}

svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

h1 {
    font-size: 40px;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    line-height: 150%;
}

button,
a,
input[type="submit"] {
    cursor: pointer;
}

.logo {
    width: 100px;
    aspect-ratio: 3/1;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

.button {
    text-decoration: none;
    background: #4b7a55;
    color: #f9f8fd;
    border-radius: 3px;
    border: none;
    width: max-content;
    height: 37px;
    display: flex;
    word-break: break-all;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 15px;
    transition: background 0.3s ease-in-out;
    outline: none;
    cursor: pointer;

    &>svg {
        stroke: #f2f2f2;
    }

    &:focus,
    &:active,
    &:hover {
        background: darken(#4b7a55, 15%);
    }
}

main {
    margin-top: 50px;
    min-height: 100vh;
}

section {
    padding-top: 50px;
    padding-bottom: 120px;
    position: relative;
    overflow-x: hidden;
    background-color: #f7f7f7;

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 100vw solid transparent;
        border-bottom: 60px solid white;
        position: absolute;
        left: 0;
        bottom: 58px;
        z-index: 3;
    }

    &::before {
        content: "";
        width: 100%;
        height: 58px;
        background-color: white;
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.8;
    }
}

#top-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4b7a55;
    color: #fff;
    border: none;
    border-radius: 100%;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    svg {
        stroke: white;
    }

    &.show {
        opacity: 1;
        animation: pulse 2s infinite;
    }
}

//<--------------------Move to General.scss---------------->
.hidden {
    display: none;
}

.category {
    counter-reset: category-counter;
    list-style-type: none;
}

.category>li {
    counter-increment: category-counter;
    margin-bottom: 10px;
    position: relative;
}

.category>li::before {
    content: counter(category-counter) ". ";
    font-weight: bold;
    position: absolute;
    left: -20px;
}

.sub-category {
    counter-reset: sub-category-counter;
    list-style-type: none;
    padding-left: 20px;
}

.sub-category>li {
    counter-increment: sub-category-counter;
    margin-bottom: 5px;
    position: relative;
}

.sub-category>li::before {
    content: counter(category-counter) "." counter(sub-category-counter) " ";
    font-weight: normal;
    position: absolute;
    left: -25px;
}

.sub-sub-category {
    counter-reset: sub-category-counter;
    list-style-type: none;
    padding-left: 20px;
}

.sub-sub-category>li {
    counter-increment: sub-category-counter;
    margin-bottom: 5px;
    position: relative;
}

.sub-sub-category>li::before {
    content: counter(category-counter) "." counter(sub-category-counter) " ";
    font-weight: normal;
    position: absolute;
    left: -30px;
}