// <---------------------------------------------------------------------------->
// <------------------------------- Container ---------------------------------->
@mixin container($breakpoint) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
        .container {
            max-width: map-get($container-max-widths, $breakpoint);
            padding: 0;
        }
    }
}

.container {
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    padding: 0 20px;
}

@include container(sm);
@include container(md);
@include container(lg);
@include container(xl);
@include container(xxl);

// <------------------------------- End Container ------------------------------>
// <---------------------------------------------------------------------------->