@font-face {
    font-family: 'corbelbold';
    src: url('/fonts/corbel_bold-webfont.woff2') format('woff2'),
        url('/fonts/corbel_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corbelregular';
    src: url('/fonts/corbel-webfont.woff2') format('woff2'),
        url('/fonts/corbel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}